.benefits-value__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.benefits-value__item {
  width: 320px;
  min-height: 168px;
  background: #eeeeee;
  padding: 24px 26px;

  @media (min-width: @tablet-width) {
    width: 256px;
    min-height: 256px;
    padding: 52px 49px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.benefits-value__number {
  text-align: center;
}

.benefits-value__item-gray {
  position: relative;
}

.benefits-value__item-gray::after {
  content: "";
  position: absolute;
  width: 284px;
  height: 1px;
  bottom: 5px;
  background: #d6d6d6;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
