.benefits-reason__list {
  padding: 23px 0 0 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.benefits-reason__item {
  width: 320px;
  min-height: 113px;
  background: #ffffff;

  @media (min-width: @tablet-width) {
    width: 256px;
    min-height: 331px;
    padding: 60px 33px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    min-height: 330px;
    padding: 69px 50px;
  }
}

.benefits-reason__title {
  text-align: left;
  margin-bottom: 16px;
  margin-left: 65px;
  position: relative;

  @media (min-width: @tablet-width) {
    text-align: center;
    margin-left: 0;
  }
}

.benefits-reason__icon-house {
  position: absolute;
  margin-left: 18px;

  @media (min-width: @tablet-width) {
    position: relative;
    left: 30%;
    margin-left: 0;
    margin-bottom: 26px;
    width: 77px;
    height: 72px;
  }

  @media (min-width: @desktop-width) {
    left: 35%;
  }
}

.benefits-reason__icon-burger {
  position: absolute;
  margin-left: 18px;

  @media (min-width: @tablet-width) {
    position: relative;
    left: 30%;
    margin-left: 0;
    margin-bottom: 26px;
    width: 80px;
    height: 68px;
  }

  @media (min-width: @desktop-width) {
    left: 35%;
    margin-left: 0;
    width: 73px;
    height: 68px;
  }
}

.benefits-reason__icon-gift {
  position: absolute;
  margin-left: 18px;

  @media (min-width: @tablet-width) {
    position: relative;
    left: 30%;
    margin-left: 0;
    margin-bottom: 26px;
    width: 67px;
    height: 75px;
  }

  @media (min-width: @desktop-width) {
    left: 35%;
    width: 77px;
    height: 75px;
  }
}

.benefits-reason__description {
  text-align: left;
  margin-left: 6px;
  margin-right: 18px;

  @media (min-width: @tablet-width) {
    text-align: center;
    margin: 0;
  }
}
