.benefits {
  padding-top: 32px;
}


.benefits__item {
  min-height: 211px;
  padding: 33px 18px 61px 18px;
  background: #81b3d2;

  &--gray {
    min-height: 168px;
    padding: 24px 24px 24px 24px;
    background: #d6d6d6;
  }

  &--white {
    background: #ffffff;
  }
}

.benefits__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.benefits__title {
  margin-bottom: 35px;
}

.benefits__description {
  margin-bottom: 35px;
}


.benefits__image {
  display: flex;
}
