.benefits {
  padding-top: 32px;
}

.benefits__title {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin: auto;
    max-width: 520px;
  }

  @media (min-width: @desktop-width) {
    max-width: 484px;
  }
}

.benefits__description {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    max-width: 520px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    max-width: 484px;
  }
}
