.button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
