.feedback-form {
  margin-top: 53px;
}

.feedback-form__name {
  display: flex;
  flex-direction: column;
  margin-bottom: 63px;
}


.feedback-form__contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 59px;
}

.feedback-form__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.feedback-form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.feedback-form__review,
.feedback-form__place {
  display: flex;
  flex-direction: column;
  margin-bottom: 49px;
}

.feedback__answer,
.feedback__place {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.feedback-form__button {
  margin: 32px 18px 0 18px;
  width: 284px;
  height: 58px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
