.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.footer-nav__nickname {
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 7px;
  }
}

.footer-nav__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 6px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    width: 135px;
  }

  @media (min-width: @desktop-width) {
    width: 137px;
  }
}

.footer-nav__link {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:focus {
    background-color: #5496bd;
  }

  &:active {
    background-color: #5496bd;
  }
}

.footer-nav__copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;

  @media (min-width: @tablet-width) {
    width: 158px;
    gap: 9px;
  }

  @media (min-width: @desktop-width) {
    width: 161px;
    gap: 12px;
    padding-right: 10px;
  }
}

.footer-nav__text {
  margin-top: 7px;

  @media (min-width: @tablet-width) {
    margin-top: 18px;
    margin-right: 4px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.footer-nav__htmlacademy {
  cursor: pointer;

  &:hover {
    fill: #81b3d2;
  }

  &:focus {
    fill: #81b3d2;
    opacity: 0.3;
  }

  &:active {
    fill: #b3b3b3;
  }
}
