.main-header {
  width: 320px;
  min-height: 56px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  display: flex;


  @media (min-width: @tablet-width) {
    width: 100%;
  }

}
