.main-header {
  max-width: 320px;
  min-height: 56px;
  margin: 0 auto;
  background-color: #ffffff;
}

@media (min-width:768px) {
  .main-header {
    max-width: 768px;
    padding: 0 9px 0 49px;
  }
}

@media (min-width:1200px) {
  .main-header {
    max-width: 1200px;
  }
}
