.main-footer {
  width: 320px;
  min-height: 233px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 21px 0 23px 0;

  @media (min-width: @tablet-width) {
    width: 768px;
    min-height: 120px;
    padding: 28px 0;
  }

  @media (min-width: @desktop-width) {
    width: 976px;
    padding: 43px 0;
  }
}
