.main-nav {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  min-height: 56px;
  width: 100%;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
  }

  &--closed &__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 4px;
    background: #81b3d2;
    box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: @mobile-width-only) {
    display: none;

    &--active {
      display: block;
    }
  }
}

.main-nav--opened .main-nav__button {
  left: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    right: -1px;
    width: 22px;
    height: 2px;
    background-color: #ffffff;

    &:hover {
      opacity: 0.6;
    }
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.main-nav--nojs .main-nav__button {
  display: none;
}

.main-nav--nojs {
  position: relative;
}


.main-nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: #81b3d2;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 768px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    z-index: unset;

    :nth-child(2) {
      margin-right: 148px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 55px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);

  @media (width: @mobile-width-only) {
    &:hover {
      background: #669ec0;
    }

    &:focus {
      background: #81b3d2;
      opacity: 0.3;
    }

    &:active {
      background: #5496bd;
      color: rgba(255, 255, 255, 0.2);
    }
  }

  @media (min-width: @tablet-width) {
    width: 153px;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
  }
}

.main-nav__link {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    opacity: 0.3;
  }

  &:focus {
    opacity: 0.1;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }

  &--light {
    @media (min-width: @tablet-width) {
      color: #766357;
    }
  }

  &--logo {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
}

.main-nav__button {
  position: absolute;
  top: 17px;
  right: 17px;
  bottom: 17px;
  width: 23px;
  height: 22px;
  cursor: pointer;
  border: none;
  z-index: 2;
  background: transparent;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
