.presentation {
  @media (min-width: @tablet-width) {
    padding: 58px 0 66px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 0 64px 0;
  }
}

.presentation__title {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    max-width: 445px;
    font-size: 30px;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
}

.presentation__description {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    max-width: 575px;
    line-height: 26px;
    font-size: 21px;
    margin-left: auto;
    margin-right: auto;
  }
}

.presentation__video {
  margin: 0 20px;
  background-image: url("/img/video-mobile.jpg");
  background-repeat: no-repeat;
  min-height: 177px;
  background-size: cover;
  background-color: #ffffff;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 0 60px;
    background-image: url("/img/video-tablet.jpg");
    min-height: 500px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 200px;
    background-image: url("/img/video-desktop.jpg");
  }
}

.presentation__video::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%);
  border-top: 25px solid transparent;
  border-left: 50px solid rgba(255, 255, 255, 0.7);
  border-bottom: 25px solid transparent;

  @media (min-width: @tablet-width) {
    border-top: 50px solid transparent;
    border-left: 100px solid rgba(255, 255, 255, 0.7);
    border-bottom: 50px solid transparent;
  }
}
