.search {
  padding: 17px 18px 0 18px;
}

.search__title {
  margin-bottom: 25px;
}

.search__button {
  margin-top: 32px;
  width: 284px;
  height: 58px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
