.search {
  padding: 17px 18px 0 18px;
}

.search__title {
  margin-bottom: 25px;

  @media (min-width:@tablet-width) {
    max-width: 435px;
    font-size: 30px;
    line-height: 26px;
    margin: auto;
  }
}

.search__description {
  @media (min-width:@tablet-width) {
    max-width: 425px;
    line-height: 26px;
    font-size: 21px;
    margin: auto;
  }
}

.search__button {
  margin-top: 32px;
  width: 284px;
  height: 58px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: auto;

  @media (min-width:@tablet-width) {
    width: 458px;
    height: 58px;
  }
}
