.search {
  padding: 17px 18px 49px 18px;

  @media (min-width: @tablet-width) {
    padding: 61px 166px 58px 166px;
  }
}

.search__title {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    max-width: 435px;
    font-size: 30px;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
  }
}

.search__description {
  @media (min-width: @tablet-width) {
    max-width: 425px;
    line-height: 26px;
    font-size: 21px;
    margin: auto;
  }
}

.search__button {
  margin-top: 32px;
  width: 284px;
  height: 58px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;


  @media (min-width: @tablet-width) {
    width: 458px;
    height: 58px;
    margin-right: auto;
    margin-left: auto;
  }
}
